<div ng-app="womWorks">
<nav class="nav has-shadow" ng-controller="NavController as nav">
  <div class="container">
    <div class="nav-left">
      <span class="nav-item">WOM Works</span>
      <a href="#!/twitter" class="nav-item is-tab" ng-class="{'is-active': nav.active() === '/twitter'}">
        Twitter Feed
      </a>
      <a href="#!/swarm" class="nav-item is-tab" ng-class="{'is-active': nav.active() === '/swarm'}">
        Swarm Check-ins
      </a>
      <a href="#!/swarmwelcome" class="nav-item is-tab" ng-class="{'is-active': nav.active() === '/swarmwelcome'}">
        Welcome Swarm Users
      </a>
    </div>
</nav>

<div class="container">
  <div ui-view></div>
</div>
</div>