<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Wom Works - Beta' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bulma.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
    <base href="/">
  </head>

  <body>
    <%- body %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js" integrity="sha256-3SrLjPeRPa1ofM280r+OMcUjJZKLWJHr6SRtRu3dRb0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js" integrity="sha256-FijCFjtKttBk/T8HE2qmA3ubtCMTuhwU6KUQjQK/y8g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" integrity="sha256-Gn7MUQono8LUxTfRA0WZzJgTua52Udm1Ifrk5421zkA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.5.0/localforage.min.js" integrity="sha256-kAq48olJYgx7dR+P9KbS+Q1OjM1vNGUSFDjQjcM0lKA=" crossorigin="anonymous"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular-fullscreen.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/services/QueryObj.js"></script>
    <script src="/js/services/sails.js"></script>
    <script src="/js/services/SortableList.js"></script>
    <script src="/js/services/TokenService.js"></script>
    <script src="/js/services/WelcomeScreen.js"></script>
    <script src="/js/controllers/NavController.js"></script>
    <script src="/js/controllers/SwarmController.js"></script>
    <script src="/js/controllers/SwarmWelcomeController.js"></script>
    <script src="/js/controllers/TweetsController.js"></script>
    <script src="/js/filters/fromNow.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
