<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wom Works - Beta</title>
  <link rel="stylesheet" type="text/css" href="/styles/bulma.css">
</head>
<body>
  <section class="hero is-fullheight is-primary is-bold">
    <div class="hero-head">
      <nav class="nav has-shadow">
        <div class="container">
          <div class="nav-left">
            <span class="nav-item">WOM Works</span>
          </div>
        </div>
      </nav> 
    </div>

    <div class="hero-body">
      <div class="container">
        <%- body %>      
      </div>
    </div>

  </section>
</body>
</html>
