<div class="columns is-vcentered">
  <div class="column is-4 is-offset-4">
    <h1 class="title">
      Login
    </h1>
    <form action="/auth/local" method="POST" class="box">
      <label class="label">Email</label>
      <p class="control">
        <input class="input" type="text" name="identifier" placeholder="jsmith@example.org">
      </p>
      <label class="label">Password</label>
      <p class="control">
        <input class="input" type="password" name="password" placeholder="●●●●●●●">
      </p>
      <hr>
      <p class="control is-clearfix">
        <button class="button is-primary is-pulled-right">Login</button>
      </p>
    </form>
  </div>
</div>