<div class="columns is-vcentered">
  <div class="column is-4 is-offset-4">
    <h1 class="title">
      Register
    </h1>
    <form action="/user" method="POST" class="box">
      <label class="label">Username</label>
      <p class="control">
        <input class="input" type="text" name="username" placeholder="jsmith@example.org">
      </p>
      <label class="label">Email</label>
      <p class="control">
        <input class="input" type="text" name="email" placeholder="jsmith@example.org">
      </p>
      <label class="label">Password</label>
      <p class="control">
        <input class="input" type="password" name="password" placeholder="">
      </p>
      <hr>
      <p class="control is-clearfix">
        <button class="button is-primary is-pulled-right">Register</button>
      </p>
    </form>
    <p class="has-text-centered">
      <a href="/login">Login</a>
    </p>
  </div>
</div>