.dashboard-item {
  margin: 1rem;
}

.hide {
  display: none !important;
}

b {
  margin-right: 0.3rem;
}

.hero-body.rows {
  flex-direction: column;
  justify-content: center;
}

.level.end {
  justify-content: flex-end;
}

.columns.reverse {
  flex-direction: row-reverse;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.tags {
  margin-bottom: 1rem;
  .tag {
    margin-right: 1rem;
    .delete {
      margin-left: 0.5em;
    }
  }
}

.button + .button {
  margin-left: 0.5rem;
}

.welcome-backgrounds {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
}

.welcome-image {
  height: 200px;
  width: 300px;
  margin-left: 1rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fill {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item-move {
  position: relative;
  height: 3rem;
  padding: 0 1rem;
  margin-top: -3rem;
}

.welcome-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/images/welcomebg.jpg');
  background-size: cover;
}
