<div class="columns reverse">
  <div class="column dashboard-item">
    <h1 class="title">
      Find participants
    </h1>
    <form ng-submit="swarm.getUsers()" class="control has-addons">
      <input class="input" type="text" ng-model="swarm.userFilter">
      <input class="button is-primary" ng-class="{'is-loading': swarm.gettingUsers}" type="submit" value="Search">
    </form>
    <div class="box" ng-repeat="user in swarm.users">
      <h2 class="title">{{ user.username }}</h2>
      <p><b>Latest checkin:</b> {{ user.lastActivity | fromNow }}</p>
      <p><b>Total checkins:</b> {{ user.checkinCount }}</p>
      <p><b>Last reward received at:</b> {{ user.lastReward | fromNow }}</p>
      <div class="level end">
        <button class="button is-success" ng-click="swarm.giveReward(user.userId, user.username)">Give Reward</button>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="dashboard-item">
      <h1 class="title">Managed Venues</h1>
      <div class="content">
        <ul ng-hide="swarm.isUpdating">
          <li ng-repeat="venue in swarm.managedVenues">{{ venue.name }}</li>
        </ul>
        <p ng-if="swarm.isUpdating">Loading venues...</p>
      </div>
      <a href="https://foursquare.com/oauth2/authenticate?client_id=3YEPYFE0DSEDAA2LXNV2ZKPLRQQAF2C1FJ0JFMNUOPO2OU4M&response_type=token&redirect_uri=https://app.wom.works"
        class="button is-primary" ng-class="{'is-loading': swarm.isUpdating}">
        Update Venues
      </a>
    </div>
    <div class="dashboard-item">
      <h1 class="title">Live Feed</h1>
      <a ng-click="swarm.searchUser(checkin.username)" class="box" ng-repeat="checkin in swarm.feed | limitTo: 20">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img ng-src="{{checkin.userPhoto}}" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ checkin.username }}</strong>
                <small>{{ checkin.createdAt | fromNow }}</small>
                <br> {{ checkin.venuename }}
              </p>
            </div>
          </div>
        </article>
      </a>
    </div>
  </div>
</div>