<div class="columns reverse">
  <div class="column dashboard-item">
    <h1 class="title">
      Find participants
    </h1>
    <form ng-submit="tweets.getUsers()" class="control has-addons">
      <input class="input" type="text" ng-model="tweets.userFilter">
      <input class="button is-primary" ng-class="{'is-loading': tweets.gettingUsers}" type="submit" value="Search">
    </form>
    <div class="box" ng-repeat="user in tweets.users">
      <h2 class="title">@{{ user.screenName }}</h2>
      <p><b>Latest tweet:</b> {{ user.lastActivity | fromNow }}</p>
      <p><b>Tweets Sent:</b> {{ user.tweetCount }}</p>
      <p><b>Last reward received at:</b> {{ user.lastReward | fromNow }}</p>
      <div class="level end">
        <button class="button is-success" ng-click="tweets.giveReward(user.screenName)">Give Reward</button>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="tags dashboard-item">
      <h1 class="title">Currently Watching:</h1>
      <div class="tags">
        <span class="tag is-large is-primary" ng-repeat="tag in tweets.tags">
      {{ tag.filter }}
      <button ng-click="tweets.removeSubscription( tag.id )" class="delete is-small"></button>
    </span>
      </div>
      <form ng-submit="tweets.addSubscription()" class="control has-addons">
        <input class="input" type="text" ng-model="tweets.newFilter">
        <input class="button is-info" type="submit" value="Watch">
      </form>
    </div>
    <div class="dashboard-item">
      <h1 class="title">Live Feed</h1>
      <a ng-click="tweets.searchUser(tweet.screenName)" class="box" ng-repeat="tweet in tweets.feed | limitTo: 20">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img ng-src="{{tweet.photo}}" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ tweet.username }}</strong>
                <small>@{{ tweet.screenName }}</small>
                <small>{{ tweet.createdAt | fromNow }}</small>
                <br> {{ tweet.text }}
              </p>
            </div>
          </div>
        </article>
      </a>
    </div>
  </div>
</div>