<div class="dashboard-item">
  <form class="field">
    <input id="bgInput" class="hide" type="file" multiple>
    <label for="bgInput" class="button is-primary" ng-click="wsc.addBg()">Add Image</label>
    <button class="button is-info" ng-click="wsc.testCheckin()">Test User Check-in</button>
    <button class="button is-info" ng-click="wsc.goFullscreen()">Open Fullscreen</button>
  </form>
</div>
<div class="dashboard-item">
  <h1 class="title">Background Images</h1>
  <div class="welcome-backgrounds dashboard-item">
    <div class="welcome-image box" ng-repeat="bg in wsc.bgList">
      <img ng-src="{{bg.src}}" alt="">
      <div class="item-move">
        <div class="level">
          <div class="level-left">
            <div class="button" ng-disabled="$first" ng-click="wsc.bgList.toStart($index)">
              <div class="icon">
                <div class="fa fa-step-backward"></div>
              </div>
            </div>
            <div class="button" ng-disabled="$first" ng-click="wsc.bgList.swap($index-1, $index)">
              <div class="icon">
                <i class="fa fa-arrow-left"></i>
              </div>
            </div>
          </div>
          <div class="level-item">
            <div class="button" ng-click="wsc.bgList.remove($index)">
              <div class="icon">
                <div class="fa fa-remove"></div>
              </div>
            </div>
          </div>
          <div class="level-right">
            <div class="button" ng-disabled="$last" ng-click="wsc.bgList.swap($index, $index+1)">
              <div class="icon">
                <i class="fa fa-arrow-right"></i>
              </div>
            </div>
            <div class="button" ng-disabled="$last" ng-click="wsc.bgList.toEnd($index)">
              <div class="icon">
                <div class="fa fa-step-forward"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-item">
  <h1 class="title">Preview</h1>
  <div id="welcomeScreen" class="fill">
    <div class="hero is-dark is-fullheight welcome-bg" ng-if="wsc.screen.current">
      <div class="hero-body rows">
        <img ng-src="{{wsc.screen.current.userPhoto}}" class="image is-128x128 level-item">
        <hr style="visibility: hidden;">
        <div class="has-text-centered">
          <h1 class="title is-1">
            {{wsc.screen.current.username}} {{wsc.inceUnlu(wsc.screen.current.username) ? 'de' : 'da'}} bugün aramızda!
          </h1>
        </div>
      </div>
    </div>
    <div class="fill" ng-hide="wsc.screen.current">
      <img ng-src="{{wsc.screen.bgImage.src}}" alt="">
    </div>
  </div>
</div>
</div>